body {
  background-color: #0093e9;
  background-image: linear-gradient(80deg, #0093e9 0%, #80d0c7 100%);
  margin: 0px;
}

.header {
  background-color: #0093e9;
  background-image: linear-gradient(170deg, #0093e9 0%, #80d0c7 100%);
  width: 100%;
  height: 80px;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  /* display: none; */
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}

.header__menu--profile {
  margin-right: 8px;
  width: 40px;
}
